/* .user-search {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .user-search input {
    padding: 8px;
    font-size: 16px;
    flex: 1;
    border-radius: 5px;
    border: none;
    width: 80%;
  }
  
  .user-search button {
    padding: 8px;
    font-size: 16px;
  }
   */